
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Oswald&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  background-color:  #404A65;

}
h1{
    color: #ECEDF0;
    display: flex;
    align-self: center;
    justify-content: space-around;
   text-shadow: 2px 2px 0px #35383f;
-webkit-text-stroke-width: 2.5px;
-webkit-text-stroke-color: #35383f;
    font-weight: 600;
    font-size: 4rem;
}
h4{
  color: #ECEDF0;
   font-weight: 600;
    font-size: 1.5rem;
     display: flex;
    align-self: center;
    justify-content: space-around;
    margin-top: 12px ;
}

.btn{
  background-color: #1F6FB0;
  font-weight: 600;
    font-size: 1.25rem;
     display: flex;
    align-self: center;
    justify-content: space-around;
}
 .coin{
   width: 150px; /* or whatever size you want */
  display: block;
  margin: 20px auto;


 
  
 }
 .btn{
  width: 150px; /* or whatever size you want */
  display: block;
  border: 2px solid #1F6FB0;
  margin: 20px auto;
  border-radius: 8px;
  color:#ECEDF0; 
  margin-top: 67px;
  box-shadow: 0px 4px 0px 0px #23649b;

  
}
#result{
  display: flex;
    align-self: center;
    justify-content: space-around;
     color: #ECEDF0;
   font-weight: 600;
    font-size: 1.5rem;

  
}

@keyframes flip{
  
     0%{
    transform: translateY(0) rotateY(0deg);
  }
  50% {
    transform: translateY(-100px) rotateY(180deg);
  }
  100% {
    transform: translateY(0) rotateY(360deg);
  }
}
 .flip{
  animation: flip 0.6s ease;
 }